{% extends "SdzATIBundle::atilayout.html.twig" %}
{% block titre_panel %}
	<h4>Bienvenue Dans le Panel de gestion des Produits </h4>
{% endblock %}

{% block option_panel %}
<h5><i>Liste des Entrées récemments éffectuées</i></h5>

{% endblock %}

{% block corps_panel %}
<ul >
    <li>
        <a href="{{ path('sdz_ati_gestion_entree',{'page':1}) }}">
			<span class="glyphicon glyphicon-align-left text-success" ></span> 
                  Entrée des Produits 
            <span class="label label-warning" > Just now </span>
        </a>
    </li>
    <li>
        <a href="{{ path('sdz_ati_gestion_sortie',{'page':1}) }}">
			<span class="glyphicon glyphicon-info-sign text-danger" ></span>  
				Sortie des Produits
			<span class="label label-info" > Just now</span>
        </a>
    </li>
   
</ul>
{% endblock %}