{% extends "SdzATIBundle::atilayout.html.twig" %}

{% block workspace_name %}
Personnel/view
{% endblock %}

{% block titre_panel %}
	Employee Management/View
{% endblock %}

{% block option_panel %}
  <a class="btn btn-info" href="{{ path('sdz_ati_personnel') }}">Employees List</a>
  {% if is_granted('ROLE_ADMIN') %}
  <a class="btn btn-success" href="{{ path('sdz_ati_personnel_ajouter') }}">Add</a>
  {% endif %}
  <br/>


                              
{% endblock %}

{% block corps_panel %}


<div class="well">

<h5 class="text-warning">
{{erreur}}
</h5>
<a class="btn btn-warning" href="{{ path('sdz_ati_personnel') }}">Retour</a>

</div>

{% endblock %}