{% extends "SdzATIBundle::atilayout.html.twig" %}

{% block workspace_name %}
Product/view
{% endblock %}

{% block titre_panel %}
	Product Management/View
{% endblock %}

{% block option_panel %}
  <a class="btn btn-info" href="{{ path('sdz_ati_produit') }}">Products Lists</a>

  {% if is_granted('ROLE_ADMIN') %}
  <a class="btn btn-warning" href="{{ path('sdz_ati_produit_ajouter') }}">Add</a>
  {% endif %}

  <br/>
{% for message in app.session.flashbag.get('infopr') %}
<h5 class="text-success">
{{message}}
</h5>
{% endfor %}

                              
{% endblock %}

{% block corps_panel %}


{% include "SdzATIBundle:ati:produit_voir.html.twig" %}

{% endblock %}
