{% extends "SdzATIBundle::atilayout.html.twig" %}

{% block workspace_name %}
Statistic
{% endblock %}

{% block titre_panel %}
	<h4><i>Panel des statistiques</i></h4>
{% endblock %}

{% block option_panel %}
<h4>                          
{% endblock %}

{% block corps_panel %}

{% for annee in annees %}
    {% if annee is defined %}
        <ul >
            <li>
                <a href="{{ path('sdz_ati_statistique_annuelle_annee',{'annee': annee.annee}) }}">
                    <span class="glyphicon glyphicon-folder-open text-success" ></span> 
                          {{annee.annee}} 
                </a>
            </li>
        </ul>
    {% else %}
        <h4>Aucune statistique enregistée</h4>
    {% endif %}
{% endfor %}



{% endblock %}