<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}EshopByPhone{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div id="header" class="hero-unit">
				<h1>A new way to make shopping !!!</h1>
				<p>
					Ce projet est propulsé par Symfony2, et construit grâce au
					tutoriel du siteduzero.
				
				</p>
				
			</div>
			<div class="row">
				
			</div>
			<hr>
			<footer>
				<p>
					Eshopbyphone © 2015 and beyond.
				</p>
			</footer>
		</div>
		{% block javascripts %}
			{# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.js')}}"></script>
		{% endblock %}
	</body>
</html>
					